:root {
  --brand-color: #3c8b5b;
  --black-color: #1c1a1d;
  --secondary-color: #43b454;
  --white-color: #fff;
  --gradient-color: linear-gradient(
    90deg,
    #c4fbb2 0%,
    #7cf1a5 23.44%,
    #43b454 72.4%,
    #3c8b5b 100%
  );
}
