//contact stilization

.contact {
  display: none;
}

@media screen and (min-width: 1440px) {
  .contact {
    display: flex;
    flex-direction: column;
    background-color: var(--brand-color);
    padding-bottom: 50px;
    .section__header__inner {
      padding: 40px 30px 0 30px;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      position: relative;
      border: 1px solid red;
    }
    .home--btn {
      align-self: flex-end;
    }
    .btn--round {
      border: 1px solid var(--black-color);
      color: var(--black-color);
    }
  }
}
