//contact stilization

.contact {
  display: none;
}

@media screen and (min-width: 1440px) {
  .contact {
    display: block;
    background-color: var(--brand-color);
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
    .section__header__inner {
      // padding: 40px 30px 0 30px;
    }
    .btn--round {
      margin-right: 70px;
    }
    .title__container {
      margin-left: 70px;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 1440px;
      margin-top: 100px;
    }
    .home--btn {
      align-self: flex-end;
    }
    .btn--round {
      border: 1px solid var(--black-color);
      color: var(--black-color);
    }
    .location {
      align-self: flex-start;
    }
    .bottom {
      border: 1px solid var(--black-color);
      bottom: -619px;
      &__text {
        color: var(--black-color);
      }
      &__btn {
        color: var(--black-color);
      }
    }
  }
  //-------- Find div -------
  .find {
    align-self: flex-end;
    width: 407px;
    height: 116px;
    display: flex;
    flex-direction: row-reverse;
    padding: 12px;
    background-color: var(--secondary-color);
    &__list {
      margin-right: auto;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__title {
      font-family: "Josefin Sans";
      font-size: 21px;
      line-height: 1;
      color: var(--black-color);
    }
    &__link {
      font-family: "Josefin Sans";
      font-size: 21px;
      line-height: 1;
      color: var(--black-color);
      display: inline-flex;
      align-items: center;
    }
    &__icon {
      fill: currentColor;
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    &__icon1 {
      fill: none;
      stroke: var(--black-color);
    }
  }
  //------- Location div ------
  .location {
    margin-top: 50px;
    width: 444px;
    height: 313px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../../images/location/Cluj444.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
    position: relative;
    z-index: 2;
    .overlay {
      width: 185px;
      height: 63px;
      background-color: rgba(28, 26, 29, 0.5);
      filter: blur(3.95182px);
      backdrop-filter: blur(4.93977px);
    }
    &__text {
      color: var(--secondary-color);
      font-family: "Josefin Sans";
      font-size: 21px;
      line-height: 1;
      position: absolute;
      bottom: 23px;
    }
  }
  //------- Get in touch div ------
  .touch {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 216px;
    height: 490px;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(28, 26, 29, 0.5);
    position: absolute;
    bottom: -50px;
    right: 180px;
    padding: 15px 10px;
    &__text {
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      margin-top: auto;
      font-family: "Josefin Sans";
      font-size: 21px;
      line-height: 1;
    }
    &__btn {
      background-color: transparent;
      outline: none;
      border: none;
      color: var(--secondary-color);
      font-family: "Josefin Sans";
      font-size: 21px;
      line-height: 1;
      display: flex;
      align-items: center;
    }
    &__btn__icon {
      width: 16px;
      height: 16px;
      fill: currentColor;
      margin-left: 10px;
    }
    &__icon {
      width: 30px;
      height: 30px;
      fill: #7cf1a5;
    }
    .touch__icon:nth-child(even) {
      position: relative;
      top: 30px;
    }
    .touch__icon:nth-child(1) {
      position: relative;
      left: 15px;
    }
    .touch__icon:nth-child(4) {
      position: relative;
      right: 15px;
    }
    &__icon__container {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      max-width: 100px;
      margin-top: 25px;
    }
  }
  //------- Black div ------
  .black {
    background-color: var(--black-color);
    width: 382px;
    height: 600px;
    padding-top: 60px;
    padding-left: 60px;
    position: absolute;
    top: -270px;
    left: 250px;
    &__title {
      font-size: 42px;
      line-height: 1;
      text-align: center;
      color: #7cf1a5;
      font-weight: 300;
      text-align: left;
    }
    &__subtitle {
      font-family: "Tilt Warp";
      text-align: right;
      font-size: 31px;
      line-height: 1.3;
      color: #7cf1a5;
      margin-top: 60px;
      position: relative;
      left: 50px;
    }
  }
  //------- Circles div ------
  .circles {
    position: absolute;
    right: 500px;
    bottom: 200px;
    &1 {
      width: 178px;
      height: 178px;
      border-radius: 50%;
      background-color: var(--black-color);
      // background-image: url("../../images/location/Cluj444.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 80% 50%;
      position: relative;
      right: -50px;
      animation: resize 7s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    &2 {
      width: 116px;
      height: 116px;
      border-radius: 50%;
      background-color: var(--black-color);
      // background-image: url("../../images/location/bistrita444.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 70% 60%;
      position: relative;
      left: -40px;
      bottom: 10px;
      animation: resize 10s cubic-bezier(0.3, 0, 0.3, 1) infinite;
    }
    &3 {
      width: 93px;
      height: 93px;
      border-radius: 50%;
      background-color: var(--black-color);
      // background-image: url("../../images/location/Brasov444.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 60% 50%;
      position: relative;
      left: 70px;
      bottom: 20px;
      animation: resize 6s cubic-bezier(0.2, 0, 0.5, 1) infinite;
    }
    .circles1:hover {
      cursor: pointer;
      background-image: url("../../images/location/Cluj444.jpg");
    }
    .circles2:hover {
      cursor: pointer;
      background-image: url("../../images/location/bistrita444.jpg");
    }
    .circles3:hover {
      cursor: pointer;
      background-image: url("../../images/location/Brasov444.jpg");
    }
  }
}

@media screen and (min-width: 2200px) {
  .contact {
    .btn--round {
      margin-right: 90px;
    }
    .title__container {
      margin-left: 90px;
    }

    &__inner {
      width: 2200px;
      margin-top: 100px;
    }
    .location {
      align-self: flex-start;
    }
    .bottom {
      bottom: -999px;
    }
  }
  //-------- Find div -------
  .find {
    width: 618px;
    height: 177px;
    padding: 22px;
    &__list {
      gap: 12px;
    }
    &__title {
      font-size: 32px;
    }
    &__link {
      font-size: 32px;
    }
    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }
  }
  //------- Location div ------
  .location {
    margin-top: 90px;
    width: 674px;
    height: 474px;
    background-image: url("../../images/location/Cluj674.jpg");
    z-index: 2;
    .overlay {
      width: 281px;
      height: 97px;
      position: relative;
      bottom: 5px;
    }
    &__text {
      font-size: 32px;
      bottom: 25px;
    }
  }
  //------- Get in touch div ------
  .touch {
    gap: 30px;
    width: 300px;
    height: 743px;
    border-radius: 39px;
    position: absolute;
    bottom: -40px;
    right: 350px;
    padding: 25px 25px;
    &__text {
      font-size: 32px;
    }
    &__btn {
      font-size: 32px;
    }
    &__btn__icon {
      width: 24px;
      height: 24px;
      fill: currentColor;
      margin-left: 10px;
    }
    &__icon {
      width: 45px;
      height: 45px;
    }
    .touch__icon:nth-child(even) {
      position: relative;
      top: 30px;
    }
    .touch__icon:nth-child(1) {
      position: relative;
      left: 15px;
    }
    .touch__icon:nth-child(4) {
      position: relative;
      right: 15px;
    }
    &__icon__container {
      gap: 35px;
      max-width: 150px;
    }
  }
  //------- Black div ------
  .black {
    width: 580px;
    height: 800px;
    position: absolute;
    top: -330px;
    left: 350px;
    &__title {
      font-size: 64px;
    }
    &__subtitle {
      font-size: 48px;
      left: 70px;
    }
  }
  //------- Circles div ------
  .circles {
    right: 850px;
    bottom: 250px;
    &1 {
      width: 271px;
      height: 271px;
      right: -80px;
    }
    &2 {
      width: 176px;
      height: 176px;
    }
    &3 {
      width: 142px;
      height: 142px;
      left: 100px;
    }
    .circles1:hover {
      cursor: pointer;
      background-image: url("../../images/location/Cluj674.jpg");
    }
    .circles2:hover {
      cursor: pointer;
      background-image: url("../../images/location/bistrita674.jpg");
    }
    .circles3:hover {
      cursor: pointer;
      background-image: url("../../images/location/Brasov674.jpg");
    }
  }
}

@keyframes resize {
  0% {
    transform: scale(1) translate(0px, 0px);
  }
  50% {
    transform: scale(1.1) translate(0px, -30px);
  }
  100% {
    transform: scale(1) translate(0px, 0px);
  }
}
