//gallery stilization

.gallery {
  display: none;
}

.nav {
  display: none;
}

@media screen and (min-width: 1440px) {
  .gallery {
    display: block;
    background-color: var(--black-color);
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    .btn--round {
      margin-right: 70px;
      border: 1px solid var(--brand-color);
      color: var(--brand-color);
    }
    .section__header__inner {
      flex-direction: row-reverse;
    }
    .title__container {
      margin-left: 70px;
    }
    .title {
      color: var(--brand-color);
      &__icon {
        fill: var(--brand-color);
        top: 10px;
        right: 170px;
        transform: rotate(180deg);
      }
    }
    .home--btn {
      margin-left: auto;
      color: var(--brand-color);
      border: 1px solid rgba(60, 139, 91, 0.5);
    }
    .bottom {
      bottom: -520px;
      left: -420px;
      border: 1px solid var(--brand-color);
      &__text {
        color: var(--brand-color);
        position: relative;
        top: 80px;
        left: 80px;
      }
      &__btn {
        color: var(--brand-color);
        position: relative;
        top: 80px;
        left: 80px;
      }
    }
    &__inner {
      position: relative;
      //display: flex;
      //border: 1px solid red;
      display: flex;
    }
    &__big__image {
      width: 524px;
      height: 284px;
      object-fit: cover;
      object-position: 20% 20%;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      &__container {
        position: relative;
        align-self: center;
        margin-left: auto;
      }
      &__overlay {
        position: absolute;
        bottom: 2px;
        right: 1px;
        background: rgba(28, 26, 29, 0.5);
        filter: blur(3.93818px);
        backdrop-filter: blur(4.92273px);
        width: 130px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__title {
        color: rgba(124, 241, 165, 1);
        position: absolute;
        bottom: 20px;
        right: 40px;
        font-family: "Josefin Sans";
        font-weight: 300;
        font-size: 21px;
        line-height: 1;
      }
    }
    &__icon {
      width: 100px;
      height: 5px;
      //stroke: 2px solid var(--brand-color);
      align-self: center;
      margin-left: 30px;
      margin-right: 50px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid red;
      overflow: scroll;
      height: 720px;
      //scroll-behavior: smooth;
    }
    &__image {
      width: 88px;
      height: 69px;
      object-fit: cover;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
  .section__header__dark {
    .title__container {
      display: none;
    }
    .nav {
      display: flex;
      &__list {
        display: flex;
        align-items: center;
        gap: 40px;
      }
      &__link {
        color: var(--brand-color);
        position: relative;
        text-align: center;
        font-size: 32px;
      }
      &__link::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--brand-color);
        position: absolute;
        left: calc(50% - 15px);
        bottom: -10px;
        border-radius: 2px;
      }
      &__link:hover::after {
        width: 100%;
        left: 0;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__item:nth-child(3),
      &__item:nth-child(4) {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 2200px) {
  .gallery {
    &__big__image {
      width: 799px;
      height: 432px;
      &__cotnainer {
        width: 799px;
        height: 432px;
      }
      &__overlay {
        width: 199px;
        height: 88px;
      }
      &__title {
        bottom: 30px;
        right: 70px;
      }
    }
    &__image {
      width: 134px;
      height: 104px;
    }
    &__list {
      gap: 34px;
    }
    .bottom {
      bottom: -770px;
      left: -470px;
    }
    .title {
      &__icon {
        top: 10px;
        right: 270px;
      }
    }
  }
  .section__header__dark {
    .nav {
      &__list {
        gap: 60px;
      }

      &__link {
        font-size: 42px;
      }
      &__link::after {
        content: "";
        width: 20px;
        height: 2px;
        position: absolute;
        left: calc(50% - 10px);
        bottom: -10px;
        border-radius: 2px;
      }
    }
  }
}
